<!DOCTYPE html>
<html>
<head>
<title>Flask Multiple Upload</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
<div class="jumbotron text-center">

<h1>Pixel2Number</h1>
<p> convert any image to a raster where each pixel represents a number</p>
</div>

<div class="container">
<div class="row">

<form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
    <input id="file-picker" type="file" name="file" accept="image/*" multiple><p>


    <div id="dropbox">
        Drag and Drop Files Here
    </div><p>

    <fieldset id="progress" style="display: none">
        <legend>Files Progress</legend>

        <div class="progress-trough">
            <div id="progress-bar" class="progress-bar">0%</div>
        </div>
    </fieldset><p>

    <input class="btn btn-primary type="submit" value="Upload!" id="upload-button">
</form>
</div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/uploadr.js') }}"></script>

</body>
</html>