body {
    background-color: lightblue;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: small;
    color: #000000;
}

#dropbox {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}

#dropbox.active {
  color: #222;
  border-color: #222;
}

.progress-trough {
    border: 1px solid #000000;
    height: 24px;
    width: 100%;
    position: relative;
}

.progress-bar {
    width: 50%;
    height: 100%;
    background-color: #0099FF;
}

